<div id="section3">
    
    <div class="gallery">
        <div class="container">
          <div class="gallery_title">
          <h3>gallery</h3>
              <h1 ><i class="fa-solid fa-images"></i> Check our gallery</h1>
    
              </div>
              <div class="image_container">
    
    
                  <div class="pizza">
    
                      <div class="pizza_caption">
                          <h2>Pizza</h2>
                      <p>Hawaiian pizza with ham and pineapple</p>
                      </div>
    
                  <img src="./images/meal-1.jpg">
                       
                  </div>
    
    
                 
                  <div class="pizza">
    
                      <div class="pizza_caption">
                          <h2>Levitation pizza</h2>
                      <p>
                          Levitation pizza on black background.</p>
                      </div>
                      
                  <img src="./images/meal-2.jpg">
                       
                  </div>
    
                  <div class="pizza">
    
                      <div class="pizza_caption">
                          <h2>Beef steaks</h2>
                      <p>Tasty beef steaks flying above cast iron grate with fire flames.</p>
                      </div>
                      
                  <img src="./images/meal-3.jpg">
                       
                  </div>
    
    
    
                    <div class="pizza">
    
                      <div class="pizza_caption">
                          <h2>Frittata</h2>
                      <p>Frittata or potato pie in a ceramic plate</p>
                      </div>
                      
                  <img src="images/meal-7.jpg">
                       
                  </div>
    
    